<%- include('partials/header.ejs') %>

    <main id="about_main">
        <img id="my_photo" src="../../images/my_photo.jpg" alt="image of Jean Konan">
        <h2><%= title %></h2>

        <section id="about">
            <p>
                My name is Jean Konan, and I am a computer science student with a minor in web development. I enjoy
                building things that combine logic, structure, and creativity.
            </p>

            <p>
                I have experience working with several programming languages, including Python, JavaScript, C#, and
                Kotlin. Through my coursework and projects, I’ve worked with APIs, multithreading, data processing, and
                basic web development. I’m comfortable picking up new technologies and enjoy the challenge of learning
                how different systems work together.
            </p>

            <h3>Hobbies & Interests</h3>
            <ul>
                <li>Soccer</li>
                <li>Basketball</li>
                <li>Drawing</li>
                <li>Music</li>
                <li>Graphic design</li>
            </ul>

        </section>
    </main>

<%- include('partials/footer.ejs') %>